

.fw-900 {
  font-weight: 900 !important;
}
.fs-80 
{
    font-size: clamp(25px, 5vw, 80px);
}

.lh-96 {
  line-height: 96px !important;
}

.fs-36 {
  font-size: clamp(14px, 4vw, 36px);
}
.lh-48 {
  line-height: 48px !important;
}
.hero-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.mainstage {
  padding: 0 !important;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.mainstage section {
  position: absolute;
  color: white;
}

.mainstage section:nth-child(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainstage section:nth-child(3) {
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.hero-text {

  text-shadow: 0px 3px 25px rgba(0, 0, 0, 0.25);
}

.hero-buttons {
  margin-top: 1rem;
}

.countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 80%;
  max-width: 879px;
  margin: 0 auto;
}

.social-icons {
  top: 50%;
  right: 32px;
  transform: translateY(-50%);
}

.social-icons i {
  font-size: 22px;
}

@media (max-width: 991.98px) {
  .mainstage {
    height: 100vh;
  }

  .hero-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  
}
