.hero-content {
    color: white;
}

.hero-title {
    font-weight: 900;
    font-size: 5vw;
    line-height: 96px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hero-text {
    width: 80%;
    max-width: 879px;
    margin: 0 auto;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 2vw;
    line-height: 3vw;

    text-shadow: 0px 3px 25px rgba(0, 0, 0, 0.25);
}

.hero-buttons {
    margin-top: 1rem;
}



.countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 80%;
    max-width: 879px;
    margin: 0 auto;
}




    .social-icons {
    top: 50%;             
    right: 32px;           
    transform: translateY(-50%); 
}

.social-icons i {
    font-size: 22px;       
}

