.volunteer 
{
    color: #2E2320;
    letter-spacing: 0px;
    
}

.swiper-card 
{
    width: 240px;
    height: 467px;
    gap: 8px;
    border-radius: 16px;
}

.swiper {
  width: 100%;
  padding: 20px 0;
}

.connected 
{
    width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 240px;
  min-height: 467px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  column-gap: 32px;
  row-gap: 32px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 427px;
  object-fit: cover;
  border-radius: 8px;
  object-position: center;
   transition: all 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}

.swiper-card:hover p, .swiper-card:hover
{
    color: #ED4B1E !important;
    cursor: pointer;
}

.swiper-card:hover img {
  filter: grayscale(100%) contrast(1.1);
  transform: scale(1.1);
}
.swiper-card i {
    transition: all 0.2s cubic-bezier(0.65, 0, 0.35, 1) !important;
}
.swiper-card:hover i {
    opacity: 1 !important;
    color: #ED4B1E !important;
    animation: move-backward 1s ease-in-out infinite;
}

@keyframes move-backward {
    0% {
        transform: translateX(0);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: translateX(5px);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
    100% {
        transform: translateX(0);
    }
}