.volunteer 
{
    color: #2E2320;
    letter-spacing: 0px;
    
}

.swiper-card 
{
    width: 240px;
    height: 467px;
    gap: 8px;
    border-radius: 16px;
}

.swiper {
  width: 100%;
  padding: 20px 0;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 240px;
  min-height: 467px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  column-gap: 32px;
  row-gap: 32px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 427px;
  object-fit: cover;
  border-radius: 8px;
  object-position: center;
}