body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: white;
}

nav {

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: white;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
}
.logo img {
  height: 54.48px;
  width: 64.37px;
}
img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
  opacity: 0.8;
}

.mainstage {
  padding: 0 0 0 0 !important;
  margin: 0;
  position: relative;
}
.mainstage section 
{
    position: absolute;
    color: white;
}
.mainstage section:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
.mainstage section:nth-child(3) {
  position: absolute;
  bottom: 5%; 
  left: 50%;
  transform: translateX(-50%); 
  padding: 10px;
}

.cross 
{
    border-radius: 24px;
    width: 100%;
    max-width: 1280px;
    height: 285px;
    /* padding: 32px ; */
    gap: 17px;
    object-fit: cover;
    object-position:center;
}

.span-flat 
{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 24px;
  background-color: #333;
  
}

.span-height 
{
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 10px;
  height: 100px;
  background-color: #333;
}


.swiper {
  width: 100%;
  padding: 20px 0;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: #444;
  color: #fff;
  height: 140px;
  border-radius: 8px;
}

.swiper-slide img {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
}


