.span-flat {
  background-color: #192c40;
  width: 55px;
  height: 5px;
  top: 10px;
  left: 10px;
}

.span-height {
  background-color: #192c40;
  width: 5px;
  height: 55px;
  bottom: 10px;
  right: 10px;
}
.span-first {
  color: #2e2320;
}
.love {
  color: #eb3300;
}
.span-last {
  color: #192c4066;
}

.span-first,
.span-last,
.love {
  line-height: 60px;
  font-family: "Inter", sans-serif;
}

.btn-visit 
{
  background-color: #2E2320 !important;
  margin-top: 20px;
}